.nav{
    background-color: aquamarine;
    padding: 10px;
}
.nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.row{
    display: flex;
    justify-content: center;
}
.col-8{
    width: 70%;
    display: flex;
    margin-top: 20px;
}
.col-3{
    width: 70%;
}
.col-5{
    width: 70%;
}
.profile-img{
    width: 250px;
    height: 300px;
}
.project-row{
    display:flex;
}
.col-4{
    width: 33%;
}
.card{
    border:1px;
    border-radius: 15px;
    background-color: #fff0f3;
    padding: 20px;
}
